<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>File Sharing System</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/file-remove.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/link.css' rel='stylesheet'>
</head>

<body>
  <header>
    <div class="about_us" id="about"><a href="#">About Us</a></div>

    <div class="card" id="card">
      <ul class="name">
        <h3>Project by</h5>
          <li>Aditya M Patil (2VD21CS001)</li>
          <li>Amarnath M Patil (2VD21CS006)</li>
          <li>Hrishikesh M Agnihotri (2VD21CS018)</li>
          <li>Nikhil Suresh Yallaraddi (2VD21CS031)</li>
      </ul>
    </div>
    <div class="main_title">
      <a href="/">File Sharing System</a>
    </div>
    <div class="subtext">
      Seamlessly Transfer and Access Files on Any Device
    </div>
  </header>
  <main>
    <% if (locals.fileLink !=null){ %>
      <div class="upload_alert">
        File is uploaded
        <a href="<%= locals.fileLink %>" id="filename1">
          <%= locals.fileName %>
        </a>
      </div>
      <% } %>
        <section class="form">
          <form action="/upload" method="post" class="form1" enctype="multipart/form-data">
            <div class="ele1">
              <label for="file">Upload File:</label>
              <input type="file" id="file" name="file" required />
              <a href="/" class="remove_icon" title="Remove File"><i class="gg-file-remove"></i></a>
            </div>
            <div class="ele2">
              <label for="password" class="pass">Password : </label>
              <input type="password" id="password" name="password" />
            </div>
            <button type="submit" class="submit_button">Share</button>
          </form>
        </section>
        <a <% if (locals.recentLink==null){ %>style="visibility: hidden;"<% } %> href=".<%= locals.recentLink %>"
          class="get_link" title='Get recent link'><i class="gg-link"></i></a>
  </main>
  <footer>
    Password is not Mandatory. Network speed depends on the network infrastructure and the bandwidth allocated.
    <div class="year">2024</div>
  </footer>
</body>
<script>

  document.getElementById('about').addEventListener("click", showcard);
  document.getElementById('about').addEventListener("mouseenter", showcard);
  document.getElementById('about').addEventListener("mouseleave", hidecard);
  function showcard() {
    document.getElementById('card').style.visibility = 'visible';
  }
  function hidecard(event) {
    setTimeout(() => { document.getElementById('card').style.visibility = 'hidden'; }, 100)

  }

</script>

</html>