<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Sharing System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="public\css\password.css" />
</head>
<style>
    :root {
    /* CSS HEX */
    --vanilla: #d0db97ff;
    --emerald: #69b578ff;
    --fern-green: #3a7d44ff;
    --cal-poly-green: #254d32ff;
    --raisin-black: #181d27ff;
    font-family: "Inter",sans-serif;

}

header {
    grid-area: head;
    display: grid;
    justify-items: center;
    margin-bottom: 3vh;
    
}

.about_us {
    justify-self: end;
    /* border: 2px solid black; */
    height: 35px;
    width: 100px;
    border-radius: 20px;
    /* margin:5px 2px 1px 3px ; */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    background-color: var(--fern-green);
    color: var(--vanilla);
    text-align: center;
    justify-content: center;
    line-height: 32px;
    box-shadow: 5px 6px;
    transition: all 0.1s ease-in-out;

}
.card{

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.262);
    position: absolute;
    right: 1vw;top: 8%;
    visibility:hidden;
   


}
ul>h3{
    margin-top: 0;
}
.name{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

li{
    margin: 10px 0;
    white-space: pre-wrap;
    box-sizing: border-box;

}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;

}
.about_us:hover {
    height: 36px;
    width: 102px;
}

.main_title {
    /* font-size: xxx-large; */
    font-size: 4vmax;
    margin-bottom: 1vh;
    font-weight: 800;
    color: var(--raisin-black);
}

.subtext{
    color: rgba(58, 125, 68, 0.877);
    font-weight:500;
    /* min-width: 30%; */
    text-align: center;
    margin-bottom: 20px;
}
</style>
<body>
    <header>
        <div class="about_us" id="about"><a href="#">About Us</a></div>
    
        <div class="card" id="card">
          <ul class="name">
            <h3>Project by</h5>
              <li>Aditya M Patil                 (2VD21CS001)</li>
              <li>Amarnath M Patil           (2VD21CS006)</li>
              <li>Hrishikesh M Agnihotri  (2VD21CS018)</li>
              <li>Nikhil Suresh Yallaraddi (2VD21CS031)</li>
          </ul>
        </div>
        <div class="main_title">
          <a href="/">File Sharing System</a>
        </div>
        <div class="subtext">
          Seamlessly Transfer and Access Files on Any Device
        </div>
        <%= locals.filename %>
    <% if(locals.error){%>
        <div style="color: rgb(192, 12, 21);text-shadow: 1px 1px 20px; ">Incorrect Password</div>
    <% } else if(locals.success){%>
        <div style="color: rgb(12, 192, 90);text-shadow: 1px 1px 20px; ">Correct</div>
       <% } %>

    <form action="" method="post">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <button type="submit" >Download</button>
    </form>
</body>
<script>

    document.getElementById('about').addEventListener("click", showcard);
    document.getElementById('about').addEventListener("mouseenter", showcard);
    document.getElementById('about').addEventListener("mouseleave", hidecard);
    function showcard() {
      document.getElementById('card').style.visibility = 'visible';
    }
    function hidecard(event) {
      setTimeout(() => { document.getElementById('card').style.visibility = 'hidden'; }, 100)
  
    }
  </script>
</html>