:root {
    /* CSS HEX */
    --vanilla: #d0db97ff;
    --emerald: #69b578ff;
    --fern-green: #3a7d44ff;
    --cal-poly-green: #254d32ff;
    --raisin-black: #181d27ff;
    
}

body {
    
    margin: 0;padding: 0;
    background-color: #efefef;
    font-family: "Inter",sans-serif;
    display: grid;
    row-gap: 2vh;
    grid-template-areas: "head head head"
        "cont cont cont"
        "foot foot foot3";
    /* margin: 0;padding: 0; */



}

header {
    
    grid-area: head;
    display: grid;
    justify-items: center;
    margin-bottom: 3vh;
    
}

#test{
    font-weight: 600;
    color: var(--fern-green);
    text-shadow: 0px 0px 20px;



    
}
.about_us {
    /* user-select: none; */
    justify-self: end;
    /* border: 2px solid black; */
    height: 35px;
    width: 100px;
    border-radius: 20px;
    /* margin:5px 2px 1px 3px ; */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
    background-color: var(--fern-green);
    color: var(--vanilla);
    text-align: center;
    justify-content: center;
    line-height: 32px;
    box-shadow: 5px 6px;
    transition: all 0.1s ease-in-out;

}

.card{

    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.262);
    position: absolute;
    right: 1vw;top: 8%;
    visibility:hidden;

}

h3{
    margin-top: 0;
}
.name{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

li{
    margin: 10px 0;
    white-space: pre-wrap;
    box-sizing: border-box;

}
a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;

}

.about_us:hover {
    height: 36px;
    width: 102px;
}

.main_title {
    /* font-size: xxx-large; */
    font-size: 4vmax;
    margin-bottom: 1vh;
    font-weight: 800;
    color: var(--raisin-black);
}

.subtext{
    color: rgba(58, 125, 68, 0.877);
    font-weight:500;
}
main {
    grid-area: cont;
    display: grid;
    height: 40vh;
    justify-items: center;
    align-items: center;

}

.form {
    display: grid;
    justify-items: center;
    align-items: center;
}
.form1 {
    display: grid;
    justify-content: center;
    row-gap: 2vh;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 15px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.262);
}
.pass{
    white-space: pre-wrap;

}

#password:focus{
    background-color: var(--vanilla);
}
.submit_button {

    display: grid;
    justify-self: center;
    /* background-color: var(--); */
    color: var(--fern-green);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.submit_button:hover {
    background-color: var(--fern-green);
    color: var(--vanilla);
    transition: all 0.2s ease-in-out;
}
footer {
    display: grid;
    grid-area: foot;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    /* justify-self: center; */
}


.year{
    justify-self: end; 
    margin-right: 10px;
}